<mat-nav-list>

  <mat-divider></mat-divider>
  <a mat-list-item href="/">Home</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/tech">Technology</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/cafe">Cafe</a>

  <mat-divider></mat-divider>

  <a mat-list-item href="https://agiletechdesign.blogspot.com/" target="_blank" >
    <mat-icon>search_outline</mat-icon>
    Search Agile Tech Blog
  </a>

  <mat-divider></mat-divider>

  <h2 matSubheader>More...</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/word">Books</a>
  <a mat-list-item href="/fitness">Fitness</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/mindfulness">Mindfulness</a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/outreach">Community Support</a>

  <mat-divider></mat-divider>
</mat-nav-list>

