<mat-nav-list>

  <mat-divider></mat-divider>
  <a mat-list-item href="/">
    <mat-icon>home_outline</mat-icon>
     {{HOME}}</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/tech">
    <mat-icon>devices_outline</mat-icon>
    Technology</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/cafe">
    <mat-icon>local_cafe_outline</mat-icon>
    <mat-icon>wine_bar_outline</mat-icon>
    Cafe</a>

  <mat-divider></mat-divider>

  <a mat-list-item href="https://agiletechdesign.blogspot.com/" target="_blank" >
    <mat-icon>search_outline</mat-icon>
    Search Agile Tech Blog
  </a>

  <mat-divider></mat-divider>

  <h2 matSubheader>More...</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/word">
    <mat-icon>local_library_outline</mat-icon>
    Books</a>
  <a mat-list-item href="/fitness">
    <mat-icon>fitness_center_outline</mat-icon>
    Fitness</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/mindfulness">
    <mat-icon>self_improvement_outline</mat-icon>
    Mindfulness</a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/outreach">
    <mat-icon>info_outline</mat-icon>
    Community Support</a>

  <mat-divider></mat-divider>
</mat-nav-list>

