<div>
  <mat-card>
    <h1>More Than Coffee DSM</h1>
    (formerly Tigers n Dragons)<br />
  </mat-card>
  <mat-card>
    <p>A concept to put together the best parts of coffee cafes, technology,, and mindfulness<br />
    How do you enjoy your coffee - with a book, music, after a workout, or with a sandwitch?.
    </p>
    <p>
    Of course, it can start with a cup of coffee.
    </p>
    <p>
    Mission is to deliver quality advice, planning, and coaching about technology, agile, startups
     and ways to improve business operations with data-founded decisions.</p>
     <p>
    We are more than computer technology and programming - more than Java, Angular or
    whatever technoogy but how people
    and organizaations work with technology. Of course, it can start with a cup of coffee.
     </p>
  </mat-card>
  <mat-card>
    <mat-card-header><h3>How can I help you ?</h3> </mat-card-header>
    <mat-card-content>
      When working with technology, the next project or starting and organization,
      There are many questions. What resources do you need? How do I start?
    </mat-card-content>
  </mat-card>
  <mat-card>
    We believe our purpose is to:
    <ul>
      <li>listen to the client,</li>
      <li>focus upon simplicity,</li>
      <li>
        build and recommend supporting solutions for small to enterprise needs,
      </li>
      <li>
        apply years of knowledge and experience,
      </li>
      <li>
        deliver projects on time and within budget,
      </li>
      <li>
        agile collaboration and training,
      </li>
      <li>
        minimize costs wherever possible.
      </li>
    </ul>
  </mat-card>
  <mat-card>
    &quot;The simple believe anything, but the prudent give thought to their steps.&quot; (Proverbs 14:15)
    <br/>
    <br/>
    &quot; The journey of a thousand steps beings with a single step.&quot; (Lao Tzu)
  </mat-card>
  <mat-card>
    <a href="https://www.youtube.com/"
    ><img src="assets/img/yt_logo_rgb_light.png" style="width: 15%;height: 15%;"/></a>
  </mat-card>
</div>
