<div>
  <h2>More than who we are...</h2>
  <mat-card>
    <mat-card-title> Supprting organizations in the community </mat-card-title>
    <mat-card-content>
      Urban Bicycle Food Ministry<br />
      Interfaith Alliance<br />
      Open and Affirmaing Coalition<br />
      Food Pantry of Central Iowa<br />
      <br />
      Support Ukraine<br />
      Bow Wow Hot Bicycle Club
    </mat-card-content>
    <mat-card-footer> </mat-card-footer>
  </mat-card>
  <mat-divider></mat-divider>

  <mat-card> Planned Bike Rides </mat-card>
  <mat-card>

  </mat-card>
</div>
