<div>
  <h2>More than who we are...</h2>
  <mat-card>
    <mat-card-title>
      Proudly supporting organizations in the community
    </mat-card-title>
    <mat-card-content>
      Urban Bicycle Food Ministry<br />
      Interfaith Alliance of Iowa<br />
      Capital City Pride<br />
      Food Pantry of Central Iowa<br />
      <br />
      Bow Wow Hot Bicycle Club
    </mat-card-content>
    <mat-card-footer> </mat-card-footer>
  </mat-card>
  <mat-divider></mat-divider>

  <mat-card> Support Ukraine<br />
    <img src="../../../assets/img/IPX_FLG_UKR.jpg" style="width: 50px; height: 50px;" />
  </mat-card>
  <mat-card>

  </mat-card>
</div>
