<div>
  <h2>More than Mindfulness</h2>
  <mat-card>
    Steve Jobs once said,
    <br/>"Don't let the noise of others's opinions drown out your own inner voice."

  </mat-card>
  <mat-card>
    <mat-card-title> Sit and breathe...
     </mat-card-title>
    <mat-card-content>
      <br/>
    <img src="assets/img/singngBell_1000w.jpg" alt="singing bell" style="width: 500px; height: 500px;"/>
    </mat-card-content>
    <mat-card-footer> </mat-card-footer>
  </mat-card>
  <mat-divider></mat-divider>

  <mat-card>
    <mat-card-title>
      ...or walk in peace </mat-card-title>
    <mat-card-content>
      <br/>
      <img src="assets/img/pathThru_winter.jpg" alt="winter"  />
    </mat-card-content>
    <mat-card-footer> </mat-card-footer>
  </mat-card>
  <mat-card>
    Meditation Schedule coming...
  </mat-card>
</div>
