<div>
  <mat-card>
    <h1>More Than Coffee</h1>
    <br />
    A concept to put together the best parts of coffee cafes, technology, and mindfulness<br />
    How do you enjoy your coffee - with a book, some music, relax after a workout, or with a bite to eat?.
    <br />
    Of course, best part of your day can start with a cup of coffee.
  </mat-card>
  <mat-card>    How can we make you day better?</mat-card>
  <mat-card>
    <mat-card-header><h3>Relax, sit and enjoy</h3> </mat-card-header>
    <mat-card-content>
      How can we help you be a better you today?
    </mat-card-content>
  </mat-card>
<mat-card>
  <img src="assets/img/minnesota_2020.jpg" alt="wilderness"  />
</mat-card>
</div>
