<div>
  <mat-card>
    <h1>{{siteName}}</h1>
  </mat-card>
  <mat-divider></mat-divider>
  <mat-card>    How can your day be better?</mat-card>
  <mat-card>
    <h3>Relax, sit and enjoy</h3>
  </mat-card>

<mat-card>
  <img src="assets/img/minnesota_2020.jpg" alt="wilderness"  />
</mat-card>
<mat-divider></mat-divider>
<mat-card>
  <br />
  A concept to put together the best parts of coffee cafes, technology, and mindfulness<br />
  How do you enjoy your coffee - with a book, some music, relax after a workout, or with a bite to eat?.
  <br />
  Of course, best part of your day can start with a cup of coffee.
</mat-card>
</div>
