<h2>More than Technology </h2>
<mat-card>
  <p>Consulting services for software engineering, agile, architecture and more. </p>

  <p>
  Mission is to deliver quality advice, planning, and coaching about technology, agile, startups
   and ways to improve business operations with data-grounded decisions.</p>
   <p>
  That is more than computer technology, chipsets, code and neat memes - more than Java, Angular or
  whatever technoogy but how people
  and organizaations work with technology.
  <br/>
  What value do you bring through technology? Turn code and computing processes into business value for you.

   </p>
   <img src="../../../assets/img/technologyResults.jpg" /> <br/>

</mat-card>
<mat-card>
  <mat-card-header><h3>How can I help you ?</h3> </mat-card-header>
  <mat-card-content>
    When working with technology, the next project or starting and organization,
    There are many questions.
    <ul>
        <li>What resources do you need? </li>
        <li>How do I start? </li>
        <li>What value do I have to bring to market?</li>
        <li>I have an idea in my head and ...</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  Our purpose is to:
  <ul>
    <li>listen to the client,</li>
    <li>focus upon simplicity,</li>
    <li>
      build and recommend supporting solutions for small to enterprise needs,
    </li>
    <li>
      apply years of knowledge and experience,
    </li>
    <li>
      deliver projects on time and within budget,
    </li>
    <li>
      agile/iterative collaboration, feedback, and training,
    </li>
    <li>
      minimize costs wherever possible.
    </li>
  </ul>
</mat-card>
<mat-card>
  &quot;The simple believe anything, but the prudent give thought to their steps.&quot; (Proverbs 14:15)
  <br/>
  <br/>
  &quot; The journey of a thousand steps beings with a single step.&quot; (Lao Tzu)
</mat-card>
