<div fxFlex flexLayout="row" fxLayoutAlign="space-around center" id="footerPanel">
  <mat-card class="footerCard">
    <mat-nav-list id="footerList">
      <a mat-list-item href="/">Home</a>
      <a mat-list-item href="http://www.tigersndragons.com/orgstartup.html"
      >Nonprofit Resources</a>
      <a mat-list-item href="#"
      >Tech Services</a>
    </mat-nav-list>

  </mat-card>

  <mat-card  class="footerCard">
    <div style="align-items: center;" >

    More Than Coffee DSM<br />
    Des Moines, IA<br />
    <a
      href="https://www.linkedin.com/pub/tony-dillon-hansen/8/3b/265"
      target="_new"
    >
      <img src="assets/img/LinkedIn-40.gif"    />
    </a>
    <br/>
    <a href="https://www.youtube.com" target="_new">
      <img src="assets/img/yt_icon_rgb.png" style="width: 73px;height: 52px;"/>
    </a>
</div>
  </mat-card>
  <mat-card class="footerCard">
   <!-- <a href="#" target="_new">Privacy</a> |
    <a href="#" target="_new">Terms of Use</a><br/>
   -->
    &copy; Copyright 2012 - {{currentYear}}<br />
    More Than Coffee DSM<br />
    All Rights Reserved.<br />
    <a href="http://www.tigersndragons.com">A BigKittyMeows Production</a>
  </mat-card>
</div>

<!--footer -->
