footerPanel {
  background-color: rgb(119, 118, 118);
  //color: rgb(77, 75, 75);
  padding: 10px;
}

.mat-list-item href{
  color: rgb(77, 75, 75);
}

#footerList{
  padding: 0px;
}

.footerCard{
  padding: 5px;
  background-color: rgb(119, 118, 118);
  height: 150px;

}

